.creative-bg {
  display: flex;
  flex-wrap: wrap;
}
.creative-img {
  background-image: url("https://mobirise.com/extensions/coworkingamp/coworking_space/assets/images/12.jpeg");
  background-size: cover;
}
@media (min-width: 320px) {
  // mobile

  .creative-img {
    width: 90%;
    height: 70vh;
  }
  .creative-head {
    width: 90%;
  }
}
@media (min-width: 768px) {
  // tab

  .creative-img {
    // width: 40%;
    height: 60vh;
    width: 40%;
  }

  .creative-head {
    min-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px;
  }
  .creative-bg {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 1024px) {
  //laptop
  .creative-head {
    max-width: 30%;
  }
}

.creative-side-heading {
  color: #20a997;
  font-size: 2em;
  letter-spacing: 0.1em;
  font-family: "Jost";
  font-style: normal;
  line-height: 1.12;
  font-weight: 600;
}
.creative-description {
  color: #2b3238;
  font-size: 2em;
  font-family: "Jost";
  font-style: normal;
  line-height: 1.12;
  font-weight: bold;
}
